global
  log    127.0.0.1  local1 notice
  stats  socket /var/run/haproxy.sock mode 600 level admin
  chroot /var/lib/haproxy
  user   haproxy
  group  haproxy
  daemon
  #[WARNING] 188/162608 (22806) : Setting tune.ssl.default-dh-param to 1024 by default, if your workload permits it you should set it to at least 2048. Please set a value >= 1024 to make this warning disappear.
  tune.ssl.default-dh-param 2048

defaults
  log     global
  option  httplog
  timeout connect         10s
  timeout client          1m
  timeout server          1m
  #errorfile 400 /etc/haproxy/errors/400.http
  #errorfile 403 /etc/haproxy/errors/403.http
  #errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/sureaddress_error.http
  errorfile 502 /etc/haproxy/errors/sureaddress_error.http
  errorfile 503 /etc/haproxy/errors/sureaddress_maintenance.http
  errorfile 504 /etc/haproxy/errors/sureaddress_error.http

frontend sureaddress_http
  acl permit_no_ssl path_beg /boston /autozone
  bind :80
  mode http
  option http-server-close
  option forwardfor
  redirect scheme https code 301 unless permit_no_ssl
  default_backend sureaddress

frontend sureaddress_https
  bind :443 ssl crt {{ ssl_full_path }} ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-RSA-RC4-SHA:ECDHE-ECDSA-RC4-SHA:AES128:AES256:RC4-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK
  mode http
  option http-server-close
  option forwardfor
  reqadd X-Forwarded-Proto:\ https
  default_backend sureaddress

backend sureaddress
  mode http
  balance roundrobin
  option httpchk GET /health_check HTTP/1.1\r\nHost:\ www
{% for host in groups['appservers'] %}
  server {{ hostvars[host].ansible_hostname }} {{ hostvars[host].ansible_eth0_0.ipv4.address }}:80 check
{% endfor %}

