files:
  - "{{ shared_path }}/log/unicorn.stdout.log"
  - "{{ shared_path }}/log/resque_scheduler.log"
  - "{{ shared_path }}/log/resque_workers.log"
destination:
  host: logs.papertrailapp.com
  port: 44542
  protocol: tls
exclude_patterns:
  - Started GET "/health_check" for 127.0.0.1
  - Processing by HealthCheckController#index as HTML
  - SELECT "schema_migrations"."version" FROM "schema_migrations"
