{{rails_env}}:
  adapter: postgresql
  host: {{ hostvars[groups.dbservers[0]].ansible_eth0_0.ipv4.address }}
  database: streets_{{ rails_env }}
  username: {{ database_user }}
  password: {{ database_password }}
  encoding: utf8
  pool: 5 # not mandatory
  timeout: 5000 # not mandatory
  port: 5432
  min_messages: warning
