# taken from http://unicorn.bogomips.org/examples/logrotate.conf
{{ shared_path }}/log/unicorn.stderr.log {{ shared_path }}/log/unicorn.stdout.log {
  daily
  missingok
  rotate 180
  compress # must use with delaycompress below
  dateext

  # added to support papertrail (remote_syslog)
  copytruncate

  # this is important if using "compress" since we need to call
  # the "lastaction" script below before compressing:
  delaycompress

  # we use the copytruncate to support papertrail (remote_syslog)
  # But since Unicorn supports the USR1 signal, we send it
  # as our "lastaction" action:
  lastaction
    pid={{ shared_path }}/tmp/pids/unicorn.pid
    test -s $pid && kill -USR1 "$(cat $pid)"
  endscript
}
