root = "{{ deploy_to }}/current"
working_directory root
pid "#{root}/tmp/pids/unicorn.pid"
stderr_path "#{root}/log/unicorn.stderr.log"
stdout_path "#{root}/log/unicorn.stdout.log"

listen '/tmp/unicorn.sureaddress_{{ rails_env }}.sock'
worker_processes {{ num_app_processes }}
timeout 30

preload_app true

# http://unicorn.bogomips.org/Sandbox.html
# Bundler will always try to load the gem environment from your original deploy instead of the current one.
# Then it won't find the Gemfile after we prune the old release.
# This sets it to the `current` symlink path.
before_exec do |server|
  ENV["BUNDLE_GEMFILE"] = "#{root}/Gemfile"
end

before_fork do |server, worker|
  if defined?(ActiveRecord::Base)
    ActiveRecord::Base.connection.disconnect!
  end

  if defined?($redis)
    $redis.quit
    Rails.logger.info('Disconnected from Redis')
  end

  # Quit the old unicorn process
  old_pid = "#{server.config[:pid]}.oldbin"
  if File.exists?(old_pid) && server.pid != old_pid
    begin
      sig = (worker.nr + 1) >= server.worker_processes ? :QUIT : :TTOU
      Process.kill(sig, File.read(old_pid).to_i)
    rescue Errno::ENOENT, Errno::ESRCH
      # someone else did our job for us
    end
  end

  # Throttle the master from forking too quickly by sleeping.  Due
  # to the implementation of standard Unix signal handlers, this
  # helps (but does not completely) prevent identical, repeated signals
  # from being lost when the receiving process is busy.
  sleep 1
end

after_fork do |server, worker|
  if defined?(ActiveRecord::Base)
    ActiveRecord::Base.establish_connection
  end

  #if defined?($redis)
  #  $redis.client.reconnect
  #  Resque.redis = $redis
  #  Rails.logger.info('Connected to Redis')
  #end
end
