# The loopback interface
auto lo
iface lo inet loopback

# This line ensures that the interface will be brought up during boot.
auto eth0 eth0:0

# The primary network interface
iface eth0 inet dhcp

# The private network interface
iface eth0:0 inet static
 address {{ private_ips[inventory_hostname] }}
 netmask 255.255.128.0
