# encoding: utf-8

##
# Backup v4.x Configuration
#
# Documentation: http://meskyanichi.github.io/backup
# Issue Tracker: https://github.com/meskyanichi/backup/issues

##
# Utilities
#
# If you need to use a utility other than the one Backup detects,
# or a utility can not be found in your $PATH.
#
#   Utilities.configure do
#     tar       '/usr/bin/gnutar'
#     redis_cli '/opt/redis/redis-cli'
#   end

##
# Logging
#
# Logging options may be set on the command line, but certain settings
# may only be configured here.
#
#   Logger.configure do
#     console.quiet     = true            # Same as command line: --quiet
#     logfile.max_bytes = 2_000_000       # Default: 500_000
#     syslog.enabled    = true            # Same as command line: --syslog
#     syslog.ident      = 'my_app_backup' # Default: 'backup'
#   end
#
# Command line options will override those set here.
# For example, the following would override the example settings above
# to disable syslog and enable console output.
#   backup perform --trigger my_backup --no-syslog --no-quiet

##
# Component Defaults
#
# Set default options to be applied to components in all models.
# Options set within a model will override those set here.
#
Storage::S3.defaults do |s3|
  s3.access_key_id     = '{{ s3_backup_access_key }}'
  s3.secret_access_key = '{{ s3_backup_secret_key }}'
  s3.bucket            = 'sureaddress-{{ rails_env }}-backup'
  s3.region            = 'us-east-1'
end

preconfigure 'PostgresBackup' do
  database PostgreSQL do |db|
    db.name               = "streets_{{ rails_env }}"
    db.username           = "{{ database_user }}"
    db.password           = "{{ database_password }}"
    db.host               = "{{ hostvars[groups.dbservers[0]].ansible_eth0_0.ipv4.address }}"
    db.port               = 5432
    db.additional_options = ["-Fc", "-E=utf8", "--no-acl", "--no-owner"]
  end

  store_with S3 do |s3|
    s3.keep = 5
  end
end

preconfigure 'RedisBackup' do
  database Redis do |db|
    db.mode        = :copy
    db.rdb_path    = '/var/lib/redis/redis.rdb'
    db.invoke_save = false
    db.host        = "{{ hostvars[groups.appservers[0]].ansible_eth0_0.ipv4.address }}"
    db.port        = 6379
  end

  store_with S3 do |s3|
    s3.keep = 5
  end
end
