# encoding: utf-8

PostgresBackup.new(:semi_hourly_postgres, 'Semi-hourly postgres {{ rails_env }} database backup ') do
end

PostgresBackup.new(:daily_postgres, 'Daily postgres {{ rails_env }} database backup ') do
end

PostgresBackup.new(:weekly_postgres, 'Weekly postgres {{ rails_env }} database backup ') do
end
