# encoding: utf-8

RedisBackup.new(:semi_hourly_redis, 'Semi-hourly redis {{ rails_env }} database backup ') do
end

RedisBackup.new(:daily_redis, 'Daily redis {{ rails_env }} database backup ') do
end

RedisBackup.new(:weekly_redis, 'Weekly redis {{ rails_env }} database backup ') do
end
