#!/bin/sh

set -e

{% for key, value in env_vars.iteritems() %}
export {{ key }}={{ value }}
{% endfor %}

export PATH=$PATH:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

cd {{ current_path }}
{{ ruby_bin_path }}/bundle exec rake periodic:daily_usage_counter
