description "Start multiple Sidekiq workers. Change NUM_WORKERS based on needs."

# This starts upon bootup and stops on shutdown
start on runlevel [2345]
stop on runlevel [06]

env NUM_WORKERS={{ num_app_workers }}

pre-start script
  for i in `seq 0 $((${NUM_WORKERS} - 1))`
  do
    start sidekiq-worker index=$i
  done
end script
