description "Start a Sidekiq worker by supplying an index. For example: start resque index=0. See also: sidekiq-workers.conf"

# no "start on", we don't want to automatically start
stop on (stopping sidekiq-workers or runlevel [06])

setuid {{ deploy_user }}
setgid {{ deploy_user }}
{% for key, value in env_vars.iteritems() %}
env {{ key }}={{ value }}
{% endfor %}

respawn
respawn limit 3 30

instance $index
kill signal SIGQUIT

script
  APP_PATH={{ current_path }}
  PIDFILE=$APP_PATH/tmp/pids/sidekiq-$index.pid
  LOGFILE=$APP_PATH/log/sidekiq_workers.log
  HOME=/home/{{ deploy_user }}
  cd $APP_PATH
  {{ ruby_bin_path }}/bundle exec sidekiq 
end script
