upstream unicorn_sureaddress_{{ rails_env }} {
  server unix:/tmp/unicorn.sureaddress_{{ rails_env }}.sock fail_timeout=0;
}

server {
  listen {{ ansible_eth0_0.ipv4.address }}:80;

  root {{ current_path }}/public;

  set_real_ip_from {{ hostvars[groups.lbservers[0]].ansible_eth0_0.ipv4.address }};
  real_ip_header   X-Forwarded-For;
  access_log {{ current_path }}/log/access.log;
  error_log  {{ current_path }}/log/error.log;

  location ^~ /assets/ {
    expires max;
    gzip_static on; # to serve pre-gzipped version
    add_header Cache-Control public;
  }

  location = /favicon.ico {
    expires    max;
    add_header Cache-Control public;
  }

  location ~* ^/static/(.*) {
    set $s3_bucket           's3.sureaddress.io.s3.amazonaws.com';
    set $url_full            '$1';

    proxy_set_header         Host $s3_bucket;
    proxy_set_header         Authorization '';
    proxy_set_header         Content-Length ''; 
    proxy_hide_header        x-amz-id-2;
    proxy_hide_header        x-amz-meta-uid;        
    proxy_hide_header        x-amz-request-id;
    proxy_hide_header        x-amz-meta-mode;
    proxy_hide_header        x-amz-meta-mtime;
    proxy_hide_header        x-amz-meta-gid;
    proxy_hide_header        x-amz-version-id;
    proxy_hide_header        Set-Cookie;
    proxy_hide_header        accept-ranges;

    proxy_http_version       1.1;
    proxy_ignore_headers     "Set-Cookie";
    proxy_buffering          off;
    proxy_intercept_errors   on;
    proxy_method             GET;
    proxy_max_temp_file_size 0;

    resolver                 8.8.4.4 8.8.8.8 valid=300s;
    resolver_timeout         10s;

    proxy_pass_request_body  off;
    proxy_pass               http://$s3_bucket/$url_full;
  }

  try_files $uri/index.html $uri.html $uri @unicorn_sureaddress_{{ rails_env }};
  location @unicorn_sureaddress_{{ rails_env }} {
    proxy_set_header Host              $http_host;
    proxy_set_header X-Real-IP         $remote_addr;
    proxy_redirect   off;

    proxy_pass http://unicorn_sureaddress_{{ rails_env }};
  }

  error_page 404 /404.html;
  error_page 422 /422.html;
  error_page 500 502 503 504 /500.html;
  client_max_body_size 100m; # max of 100mb uploads

  keepalive_timeout   70;
}

#server {
#  listen 443 ssl spdy;
#  spdy_keepalive_timeout 300; # up from 180 secs default
#  # courtesy of https://wiki.mozilla.org/Security/Server_Side_TLS#Recommended_Ciphersuite
#  ssl_ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:ECDHE-RSA-RC4-SHA:ECDHE-ECDSA-RC4-SHA:AES128:AES256:RC4-SHA:HIGH:!aNULL:!eNULL:!EXPORT:!DES:!3DES:!MD5:!PSK;
#  ssl_prefer_server_ciphers on;

#  ssl_certificate {{ shared_path }}/ssl/{{ rails_env }}_certificate.crt;
#  ssl_certificate_key {{ shared_path }}/ssl/{{ rails_env }}_private_key.key;

#  ssl_session_tickets off;

#  # enable SPDY header compression
#  spdy_headers_comp 6;

#  # remember the certificate for a year and automatically connect to HTTPS
#  add_header Strict-Transport-Security 'max-age=31536000; includeSubDomains';
#}

